<!DOCTYPE html>
<html ng-app="widgetApp">
<head>
  <meta charset="utf-8">
  <title>Jasmine Spec Runner v2.3.4</title>

  <link rel="icon" type="image/png" href="/img/favicon/favicon.ico" />
  <link rel="stylesheet" href="/reports/jasmine/jasmine.css">

  <script src="/reports/jasmine/jasmine.js"></script>
  <script src="/reports/jasmine/jasmine-html.js"></script>
  <script src="/reports/jasmine/boot.js"></script>

  <!-- include source files here... -->
<script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="/bower_components/angular/angular.js"></script>
<script type="text/javascript" src="/bower_components/angular-route/angular-route.js"></script>
<script type="text/javascript" src="/bower_components/angular-resource/angular-resource.js"></script>
<script type="text/javascript" src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script type="text/javascript" src="/js/app.js"></script>
<script type="text/javascript" src="/js/controllers/widgetsCtrl.js"></script>
<script type="text/javascript" src="/js/controllers/showWidgetCtrl.js"></script>
<script type="text/javascript" src="/js/controllers/editWidgetCtrl.js"></script>
<script type="text/javascript" src="/js/factories/widgetFactory.js"></script>
<script type="text/javascript" src="/js/services/services.js"></script>

  <!-- include spec files here... -->
  <script src="/e2e/spec.js"></script>
<!-- <script src="/e2e/scenarios.js"></script> -->

</head>

<body>
</body>
</html>
